<footer class="smart-living-footer mx-auto">
    <ul class="p-midnight-blue d-flex flex-column flex-lg-row align-items-center footer-ul p-2">
        <li class="mt-1">©SmartLife 2020</li>
        <li  class="mt-1 mx-auto ml-lg-auto"><a class="footer-legal-link" href="">Mentions Légales</a></li>
        <li  class="mt-1 ml-3">Nous suivre :</li>
        <li class="mt-1 ml-3">
            <a class="mt-1 social-link-icon a-social-links" href=""><img src="{{ asset('images/icons/social/facebook-icon.svg') }}" alt="facebook"> </a>
            <a class="mt-1 social-link-icon a-social-links" href=""> <img src="{{ asset('images/icons/social/instagram-icon.svg') }}"
                                                                                                           alt=""> </a>
            <a class="mt-1 social-link-icon a-social-links" href=""> <img src="{{ asset('images/icons/social/linkedin-icon.svg') }}"
                                                                                                          alt=""> </a>
            <a class="mt-1 social-link-icon a-social-links" href=""> <img src="{{ asset('images/icons/social/pinterest-icon.svg') }}"
                                                                                                           alt=""> </a>
            <a class="mt-1 social-link-icon a-social-links" href=""> <img src="{{ asset('images/icons/social/twitter-icon.svg') }}"
                                                                                                         alt=""> </a>
        </li>
    </ul>

</footer>