{% extends 'base.html.twig' %}

{% block title %}Inscrption{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{{ asset('css/modal.css') }}">
{% endblock %}

{% block body %}
<div class="main-content-wrapper row">
    <div class="d-flex flex-column form-wrapper my-4 mx-auto col-10 lg-6 pl-0 pr-0">
        <div class="d-flex mt-2 pl-3 pr-3 pt-3">
            {% if is_mobile() == false %}
                <div class="d-flex ml-2 pb-3 ">
                    <img class="width-20px-icon my-auto" src=" {{ asset('images/icons/padlock.svg') }} " alt="padlock icon">
                    <h1 class="title-connection-black  ml-2 mb-0"><a class="links" href="{{ path('app_login') }}">Connexion</a></h1>
                </div>
            {% endif %}
            <div class="d-flex ml-3 pb-3 sign-up-link {% if is_mobile() == false %} yellow-bottom-border {% endif %} {% if is_mobile() == true %} mx-auto{% endif %}">
                <img class="width-20px-icon d-block my-auto" src=" {{ asset('images/icons/login-yellow.svg') }} " alt="login icon">
                <h1 class="title-connection mb-0 ml-2">Inscription</h1>
            </div>

        </div>
        <div class="separator-login-title"></div>
{#  {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}#}
            {{ include('user/_form.html.twig') }}
    </div>
</div>
{% endblock %}
