{% extends 'base.html.twig' %}

{# Import macro for template card product #}
{% import "macro/product.html.twig" as templateProduct %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/product/homepage.css')}}">
{% endblock %}
{% block body %}
<h1 class="mt-5 mb-5 title-h1-midnight-blue">Produits Tendances</h1>
<div class="carousel-wrapper">
    <button class="btn arrow left"></button>
    <div class="carousel">
        <div class="slider">
            {# TODO: Implement code to display only recently bestselling products #}
            {% for product in products %}
                {# Use macro #}
                {{ templateProduct.card(product.id, product.getTitle, product.getPhoto, product.getCategory.name, product.getUnitPrice ) }}
            {% endfor %}
        </div>
    </div>
    <button class="btn arrow right"></button>
</div>


{# TODO: Implement logic for multiple images + discount in db #}
<div class="limited-offer-wrapper mx-auto mt-5">
    <img class="promo-image" src="{{ asset('images/products/ps4-mobile-promo@2x.png')}}" alt="promo img">
    <div class="limited-offer-info-wrapper">
        <p class="title-h3-midnight-blue mt-3 text-center limited-offer-label mx-auto pt-2 pb-2 ml-lg-0">Offre Limité</p>
        <h2 class="title-h1-midnight-blue text-center text-lg-left">Nouvelle PS6</h2>
        <p class="limited-offer-content p-black  text-center text-lg-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id semper nisl.
            Donec efficitur quis nibh et blandit. Aenean at elit enim. Vestibulum tristique porta ex a
            imperdiet.
        </p>
        <div class="price-wrapper">
            <p class="mr-3 new-price">300 €</p>
            <p class="old-price">2 500 €</p>
        </div>
        <button type="button" class="btn btn-primary mt-2 w-100">Ajouter au panier <img src="{{ asset('images/icons/cart_icon.svg') }}" class="cart-icon"> </button>
    </div>
</div>

{# New arrivals ... #}


<div class="three-section-product-mini-wrapper mt-5">
    <section class="section-product-mini">
        <h2 class="section-product-mini-title"> Les plus vendus</h2>
        {% for product in products | slice (3, 4) %}
            {{ templateProduct.miniCard( product.getId, product.getPhoto, product.getTitle, product.getUnitPrice) }}
        {% endfor %}
        <p class="product-mini-section-see-more">...</p>
        <a class="product-mini-section-see-more">Voir plus<i class="right-blue-arrow-icon"></i></a>
    </section>
    <section class="section-product-mini">
        <h2 class="section-product-mini-title"> Les plus vendus</h2>
        {% for product in products | slice (2, 4)%}
            {{ templateProduct.miniCard( product.getId, product.getPhoto, product.getTitle, product.getUnitPrice) }}
        {% endfor %}
        <p class="product-mini-section-see-more">...</p>
        <a class="product-mini-section-see-more">Voir plus<i class="right-blue-arrow-icon"></i></a>
    </section>
    <section class="section-product-mini">
        <h2 class="section-product-mini-title"> Les plus vendus</h2>
        {% for product in products | slice (0, 4) %}
            {{ templateProduct.miniCard( product.getId, product.getPhoto, product.getTitle, product.getUnitPrice) }}
        {% endfor %}
        <p class="product-mini-section-see-more">...</p>
        <a class="product-mini-section-see-more">Voir plus<i class="right-blue-arrow-icon"></i></a>
    </section>
</div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("js/Product/homepage.js") }}"></script>
{% endblock %}

